@media only screen and (max-width: 768px) {
  formobilephones: [class * = "col-" ] {
    width: 100%;
  }
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  font-size: 1.2rem;
  background-image: url(/Images/greenbackground.png);
}

.wrapper {
  width: 100%;
  padding-top: 6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/****************** Header *********************/

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  padding: 0 10px;
  background-color: #383838;
}

.nav {
  padding: 0 20px;
  width: 100%;
  height: 7em;
  overflow: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}

.left-nav {
  position: absolute;
  left: 100px;
  font-size: 20px;
  left: 300px;
}

.logo {
  width: 12%;
  height: 10%;
  /*border-radius: 50%;*/
}

.left-nav ul {
  list-style-type: none;
}

.main-link > li {
  position: relative;
  display: inline-block;
  margin: 0 1em 0;
}

.header a {
  display: inline-block;
  padding: 0.5em;
  text-decoration: none;
  transition: 1s;
}

.header a:hover {
  transform: scale(1.05);
  color: #9d4f35;
}

/* Right-Nav*/
.right-nav {
  padding: 1.5rem;
}

.right-nav a{
  font-size: 26px;
  /*font-weight:;*/
  text-decoration: none;
  color: #9d4f35;
  animation-name: mymove;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes mymove {
  0%{transform: scale(1.2);}
  25%{transform: scale(1.3);}
  50%{transform: scale(1.5);}
}


.right-nav a:hover{
  text-decoration: none;
  color: #6ec140;
}

.search{
  border-radius: 10px;
  padding: 5px;
  border: none;
  margin-right: 50px;
}

.header input {
  width: 200px;
  height: 30px;
  margin-right: 3rem;
  padding-left: 1em;
  font-size: 1.2rem;
  border: none;
}

/*Drop-down Menu*/

/*Drop-Down Box */
.drop-down-box {
  display: none;
  position: absolute;
  z-index: 5;
  background-color: transparent;
  width: 60vw;
}

.drop-down-box-two {
  display: none;
  position: absolute;
  z-index: 5;
  background-color: transparent;
  width: 60vw;
}

.contact-link:hover .drop-down-box-two{
  display: flex;
}
/*Drop-Down list*/
.drop-down {
  margin-top: 1.5em;
  padding-top: 10px; 
  min-height: 100px;
  padding: 10px;
  width: 20%;
  background-color: #383838;
}

.drop-down li{
  padding: 0;
  margin: 0;
  line-height: 1;
}

.drop-down li a {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

.drop-down ul li {
  display: block;
}


/*Drop-Down Box :hover effect*/
.header li:hover .drop-down-box {
  display: block;
  height: 400px;
} 




/**************** Main *******************/
/* DO NOT PASTE YOUR CODE HERE*/



/*************** Footer **********************/
.footer {
  padding: 5em 1em 0;
  width: 100%;
  min-height: 400px;
  background-color: #383838;
  color: #ffffff; 
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Oswald', sans-serif; */
  font-family: 'Roboto', sans-serif; 
  /* background-color: #e2dfdf; */
}

.footer .logo-box {
  width: 100%;
}

#logo-nav {
  width: 27%;
  height: 24%;
  border-radius: 50%;
}

#logo-united {
  width: 200px;
  height: 120px;
}

#logo-dane {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.link-wrapper {
  width: 80%;
}

.merge{
  display: flex;
  /* background-color:blueviolet; */
  height: 230px;
  justify-content: center;
}

.merge > div {
  margin: 0 200px;
}

.dane-united {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.dane-united div {
  margin: 0 15px;
}

.title {
  font-size:18px;
  font-weight: bold;
  margin-left: 85px;
}

.founder h3{
  margin-bottom: 20px ;
  font-size: 18px;
}

.founder p{
  font-size: 15px;
  line-height: 2;
  color: #6ec140;
}

.founder a{
  text-decoration: none; 
  color: #6ec140;
}


/**** Logo - links - social medias ****/

.logo-links-socialmedias {
  display: flex;
  /* background-color: green; */
}
#logo-nav{
  border-radius: 0;
}

.logo-links-socialmedias {
  padding: 50px 10px;
}

.links{
  display: flex;
  margin-bottom: 50px;
}

.links > div {
  margin-right: 100px;
}

.links > div > span {
  display: inline-block;
  /* font-size:x-large; */
  font-size: 18px;
  font-weight: bold;
  min-width: 150px;
  margin-bottom: 20px;
}

li {
  list-style-type: none;
  line-height: 2;
}

li > a {
  font-size: 14px;
  text-decoration: none;
  color: #6ec140;
}
a:hover {
  color: #9d4f35;
}

/**** Social medias ****/

.connect{
  /* background-color: goldenrod; */
  height: 50px;
  font-size: 18px;
  /* font-size: .8rem; */
  display: flex;
  align-items: center;
}

.connect div:nth-child(1){
  margin-right: 100px;
}

.pics{
  width: 20px;
}

.fa-brands {
  font-size: 20px;
  color: grey;
}

.icons-media {
  display: flex;
  align-items: center;
  justify-content:center;
  margin-right: 4rem;
  /* padding-bottom: 15px; */
  /* border: solid black 4px; */
}

.icons-media:hover .fa-brands {
  color: #ffffff;
}

.icons-media:hover span {
  color: #9d4f35;
}

.icons-media a{
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}

.icons-media span {
  /* color: #6ec140; */
  color: grey;
  font-size: 10px;
  opacity: 1;
}

h4 {
  font-size:18px;
  font-weight: bold;
}

/****Copy Right****/

.legal ul {
  display: flex;
  justify-content:flex-start;
  /* s */
  height: 40px;
  font-size: 14px;
  margin-left: 30px;
}

.legal ul li a {
  color: grey;
  margin-left: 30px;
  font-size: 10px;
}

.legal ul li {
  color: #9d4f35;
}

.legal ul li a:hover {
  color: #9d4f35;
}

hr {
  opacity: 0.1;
}




